.control{
	background-color: #f4a142;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
}

#btnOff{

}