<!doctype html>
<html>
<head>
	<link href="./img/logo.jpg"
		rel="shortcut icon" />
    <title>Auto home</title>
</head>
<body onload="startTime()">
    <link href="./CSS/houseCtr.css" type="text/css" rel="stylesheet" />
    {{{body}}}
</body>
</html>