.controlPage{
    background-image: url("/img/back.jpg");
}

.controlPanel{
    background-color: rgba(255, 255, 255, 0.4);
    position:fixed;
    border: 3px;
    width: 350px;
    left: 180px;
    top: 107px;
    margin-top: 30px;
    height: 300px;
}
.control{
    background-size: 99.999%;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid;
    outline: none;
    cursor: pointer;
}

.control:hover {
    background-color: #555555;
    color: white;
}

.dateInfo{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    left: 780px;
    top: 107px;
    height: 350px;
    width: 350px;
    margin-top: 30px;
}

#temperatureLabel{
    text-align: center;
    text-decoration-color: red;
}
#lightPosition{
    position: relative;
    margin-top: 60px;
    margin-left: 20px;

}
#ACPosition{
    position: relative;
    margin-top: 50px;
    margin-left: 20px;
}
#on_off{
    position: relative;
    margin-left: 70px;
}