
.control{
    background-size: 99.999%;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid;
    outline: none;
    cursor: pointer;
}

.control:hover {
    background-color: #555555;
    color: white;
}

#lightPosition{
    position: relative;
    margin-top: 80px;
    margin-left: 500px;

}
#ACPosition{
    position: relative;
    margin-top: 80px;
    margin-left: 500px;
}